body {
  background-color: #101010;
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

.yellow {
  background: #fff;
}

.orange {
  background: #fff;
}

.pink {
  background: #fff;
}

.lightblue {
  background: #fff;
}

.purple {
  background: #fff;
}

.green {
  background: #fff;
}

.app {
  margin: 25px auto 0;
  width: 350px;
  background: #03989E;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: #fff;
  height: 580px;
  position: relative;
  overflow: hidden;
}

svg {
  position: relative;
  width: 18px;
  height: 18px;
}

header {
  background: #3F51B5;
  margin: 0;
  position: relative;
  z-index: 3;
}

header h3 {
  padding: 30px 0;
  margin: 0 0 0 20px;
  display: inline-block;
  font-weight: 300;
}

header .icon {
  margin-left: 15px;
  position: relative;
  top: auto;
  left: auto;
  background: transparent;
}

.bar {
  height: 32px;
  background: #303F9F;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  z-index: 3;
}

.bar svg {
  padding-left: 5px;
}

h5 {
  display: inline-block;
  margin: 0 0 0 60px;
  font-size: 16px;
  font-weight: 300;
}

.panel {
  border-bottom: 1px solid #515c64;
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1) 0.1s;
  transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1) 0.1s;
  overflow: hidden;
  position: relative;
}

.panel:last-child {
  border-bottom: none;
}

.panel-body {
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
  margin-left: 60px;
  -webkit-transition: max-height 0.7s cubic-bezier(0.65, 0.05, 0.36, 1) 0.1s;
  transition: max-height 0.7s cubic-bezier(0.65, 0.05, 0.36, 1) 0.1s;
}

.head {
  height: 75px;
  line-height: 75px;
  padding-left: 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.icon {
  position: absolute;
  height: 36px;
  width: 36px;
  border-radius: 25px;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
          justify-content: center;
  top: 20px;
  left: 15px;
  -webkit-transition: height 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: height 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.icon svg {
  top: 6px;
}

li {
  list-style: none;
  margin-bottom: 30px;
  position: relative;
  font-size: 14px;
  padding: 0 15px;
}

li span {
  display: block;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}

li:nth-child(1) span,
li:nth-child(1):after {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

li:nth-child(2) span,
li:nth-child(2):after {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

li:nth-child(3) span,
li:nth-child(3):after {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

li:nth-child(4) span,
li:nth-child(4):after {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

li:nth-child(5) span,
li:nth-child(5):after {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

li:after {
  content: '+';
  position: absolute;
  top: 0;
  right: -100px;
  opacity: 0;
  color: #fff;
  -webkit-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.active .icon {
  height: 85%;
  -webkit-transition: height 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: height 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.active .panel-body {
  visibility: visible;
  max-height: 15em;
  margin-bottom: 15px;
  -webkit-transition: max-height 0.7s cubic-bezier(0.65, 0.05, 0.36, 1) 0.1s;
  transition: max-height 0.7s cubic-bezier(0.65, 0.05, 0.36, 1) 0.1s;
}

.active li span {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.active li:nth-child(1) span,
.active li:nth-child(1):after {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.active li:nth-child(2) span,
.active li:nth-child(2):after {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.active li:nth-child(3) span,
.active li:nth-child(3):after {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.active li:nth-child(4) span,
.active li:nth-child(4):after {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.active li:nth-child(5) span,
.active li:nth-child(5):after {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.active li:after {
  right: 15px;
  opacity: 1;
  -webkit-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.feature{  
width:auto; 
height:30px; 
font-size:20px; 
padding-left: 35%; 
padding-top:10px; 
padding-bottom:10px; 

} 
.feature a{  
text-decoration:none; 
color:white; 
padding-bottom:10px;  

} 
.feature a:hover{
color: white; 
opacity: 0.5;}