h1 { 
  font-family: Arial, Helvetica, sans-serif;
  color : black;
  text-align: center; 
  
}

h2 {
 font-size: 70; 
 font-family: Arial, Helvetica, sans-serif;
 color: black; 
 text-align: center;
 
}  
h3 { 
  font-family: Arial, Helvetica, sans-serif;
  color : black; 
  text-align: center; 
  
} 
h4 { 
  font-family: Arial, Helvetica, sans-serif;
  color : black; 
  text-align: center; 
  font-size: 30px;
} 


p, ul{
  font-family: Arial, Helvetica, sans-serif; 
  	font-size: 20px; 
	color: black;  
	text-align: center;
} 
li {
  font-family: Tahoma, Geneva, sans-serif; 
  	font-size: 15; 
	color: black;  
	text-align: left;  
	font-weight:normal; 
	font-style:italic;
}
.imgtext {
	height: auto;
	width: 12.6%;
	background-color: #03989E;
	box-shadow: 2px 4px 8px 3px Gainsboro;
	margin: 2%;
	float: left;

} 
.EXF {
	height: auto;
	width: 200px;
	background-color: #03989E;
	box-shadow: 2px 4px 8px 3px Gainsboro;
	margin: 2%;
	float: left;
	
} 


img { 
width: 100%; 
}
.imgtext a:hover { 
opacity: .5; 

}.EXF a:hover { 
opacity: .5; 

}
a:hover { 

color: #03989E;
}

.caption { 
  text-align: center;
  padding: 1px 1px; 

} 
 .navbar { 

    font-family: monospace;
    font-weight: bold;
    font-size: 14pt;
    background: #03989E;
    color: #ffffff;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;


    text-align: center;
    box-sizing: border-box;
}

.navbar a{ 
font-family: Arial, Helvetica, sans-serif; 
background-color:#03989E;
float: center; 
color:white; 
text-align: center; 
padding:10px 10px;
text-decoration: none; 
font-size: 20px; 

} 
.navbar a:hover { 
opacity: 0.3; 
color:black;
}  
div.imgs { 
align:left; 
}
button { 
background-color:white; 
padding:15px 32px;  
border-radius:15px;
}  


.button {
  
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px; 
  border-radius: 50px;
}  
.text { 
width: auto; 
background: white; 
padding-bottom: 10px; 
padding-left:4px; 
padding-top:2px; 
text-align:center; 
font-size:25px;
}
ol {  
color: black; 
text-decoration:none;
  font-family: Arial, Helvetica, sans-serif; 
  	font-size: 20px; 
	 
	text-align: center;
}
a {  
font-family: Arial, Helvetica, sans-serif;  
font-weight: bold;
text-decoration:none;
color:black; 
}  
table { 
border-collapse:collapse;
} 
table, th, td { 
font-family: Arial, Helvetica, sans-serif; 
  border: 2px solid black; 
} 
td{ 
padding-right:30px; 
padding-bottom:15px; 
padding-top:15px;
}
th{ 
text-align:left; } 
.container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
		padding-bottom:100px;
    }    
.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: left; 
} 
.head {
	font-family:Arial, Helvetica, sans-serif;

  width: 100%;
  background-color: white;
  color: black;
  text-align: center; 
  } 